<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>EPIC | Attack White</title>
  <link rel="stylesheet" href="../assets/css/dorang.css">
</head>
<body data-spy="scroll" data-target=".navbar" id="home" class="light-theme">
  <!-- page navbar -->
  <nav class="page-navbar" data-spy="affix" data-offset-top="10">
    <ul class="nav-navbar container">
      <li class="nav-item"><a href="#home" class="nav-link" id="nav-home">Home</a></li>
      <li class="nav-item"><a href="#schedule" class="nav-link" id="nav-schedule">Schedule</a></li>
      <li class="nav-item logo-container"><a href="#home" class="nav-link"><img src="../images/epic_attack_blk.png" alt="Logo"></a></li>
      <li class="nav-item"><a href="#sponsors" class="nav-link" id="nav-sponsors">Sponsors</a></li>
      <li class="nav-item"><a href="#team" class="nav-link" id="nav-team">Team</a></li>
    </ul>
  </nav>

  <!-- page header -->
  <header class="header" id="home">
    <div class="overlay"></div>
    <div class="header-content">
      <h1 class="header-title">Epic Attack White</h1>
      <p class="header-subtitle">Passion. Dedication. Teamwork.</p>
      <a href="https://www.instagram.com/epicattack2014b/" class="btn btn-theme-color" target="_blank" id="instagramButton"><i class="ti-control-play text-danger"></i>Follow us on Instagram</a>
    </div>
  </header><!-- end of page header -->

<a id="schedule"></a>
  <div class="container page-container">
    <div class="col-md-10 col-lg-8 m-auto">
      <h6 class="title mb-4">Our Schedule</h6>
      <% if (schedule.length > 0) { %>
        <div class="scrollable-container">
          <% schedule.forEach((game, index) => { %>
            <div class="game-container">
              <% if (game.game_status === 'nextUp') { %>Next Game!<% } else { %><br><% } %>
            <div class="game-box" data-index="<%= index %>" id="<%= game.game_status === 'nextUp' ? 'nextUpGame' : '' %>">
                <div class="game-date">
                  <span class="day"><%= game.day %></span>
                <span class="month"><%= game.month %></span>
              </div>
              <div class="game-result">
                <span class="home-team"><%= game.home %></span>
                <span class="away-team"><%= game.away %></span>
                <% if (game.result !== 'vs') { %>
                  <span class="result <%= game.win === 'win' ? 'text-success' : game.win === 'loss' ? 'text-danger' : '' %>">
                    <%= game.result %>
                  </span>
                <% } %>
              </div>
            </div>
            </div>
          <% }) %>
        </div>
      <% } else { %>
        <p>No schedule available at the moment.</p>
      <% } %>
    </div>
  </div>

  <div class="container page-container" id="sponsors">
    <div class="col-md-10 col-lg-8 m-auto" id="sponsors">
      <h6 class="title mb-4">Our Sponsors</h6>
      <p class="mb-5">Thank you to our sponsors for their support!</p>
      <div class="sponsor-scroll">
        <div class="sponsor-logos">
          <img src="../images/dentist.png" alt="Sponsor 1" class="sponsor-logo">
          <img src="../images/jr.jpg" alt="Sponsor 2" class="sponsor-logo">
          <img src="../images/potomacAgency.png" alt="Sponsor 3" class="sponsor-logo">
          <img src="../images/laundry.png" alt="Sponsor 4" class="sponsor-logo">
          <img src="../images/dentist.png" alt="Sponsor 1" class="sponsor-logo">
          <img src="../images/jr.jpg" alt="Sponsor 2" class="sponsor-logo">
          <img src="../images/potomacAgency.png" alt="Sponsor 3" class="sponsor-logo">
          <img src="../images/laundry.png" alt="Sponsor 4" class="sponsor-logo">
        </div>
      </div>
    </div>
  </div>

  <!-- page container -->
  <div class="container page-container" id="team">
    <div class="col-md-10 col-lg-8 m-auto">
      <h6 class="title mb-4">Our Team</h6>
            
      <!-- Coaches Info -->
      <div class="coaches-info mb-4">
        <div class="row">
          <div class="col-md-4">
            <div class="coach-container">
              <img src="../images/coach1.png" alt="Aric Canonino" class="img-fluid mb-2" style="width: 100%; height: auto;">
              <h6 class="coach-name">Head Coach: Aric Canonino</h6>
              <p>Aric has been coaching for over 10 years and has led our team to numerous victories.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="coach-container">
              <img src="../images/coach2.png" alt="Chris Mashinski" class="img-fluid mb-2" style="width: 100%; height: auto;">
              <h6 class="coach-name">Assistant Coach: Chris Mashinski</h6>
              <p>Chris is known for his strategic thinking and has been with the team for 5 years.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="coach-container">
              <img src="../images/coach3.png" alt="Chris Taylor" class="img-fluid mb-2" style="width: 100%; height: auto;">
              <h6 class="coach-name">Assistant Coach: Chris Taylor</h6>
              <p>Chris brings a wealth of experience and has been instrumental in player development.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="team-photo-container">
              <img src="../images/team.jpg" alt="Team Photo" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- end of page container -->

  <!--footer & pre footer -->
  <div class="contact-section" id="contact">
    <div class="overlay"></div>
    <!-- container -->
    <div class="container">

      <!-- footer -->
      <footer class="footer">
        <p class="infos">A team of <a href="http://www.epicsoccerclub.org">EPIC Soccer Club</a></p>
        <span>|</span>
        <div class="links">
          <a href="#schedule">Schedule</a>
          <a href="#sponsors">Sponsors</a>
          <a href="#team">Team</a>
        </div>
      </footer><!-- end of footer -->
    </div><!-- end of container -->
  </div><!-- end of pre footer -->

  <!-- core  -->
  <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
  <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

  <!-- bootstrap affix -->
  <script src="assets/vendors/bootstrap/bootstrap.affix.js"></script>

  <!-- Dorang js -->
  <script src="assets/js/dorang.js"></script>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Adjust scroll position for nav items
      const navItems = document.querySelectorAll('.nav-link');
      const offset = 70; // Adjust this value based on your navbar height

      navItems.forEach(item => {
        item.addEventListener('click', function(event) {
          event.preventDefault();
          const targetId = this.getAttribute('href').substring(1);
          const targetElement = document.getElementById(targetId);
          if (targetElement) {
            window.scrollTo({
              top: targetElement.offsetTop - offset,
              behavior: 'smooth'
            });
          }
        });
      });
    });
  </script>
</body>
</html>